In [3]:
import numpy as np

In [5]:
arr= np.arange(1,11)
arr
for i in range(len(arr)):
    if arr[i] %3==0:
        print(arr[i])

3
6
9

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Score': [88, 92, 95, 70, 85],
        'Passed': [True, True, True, False, True]}

df = pd.DataFrame(data)
df

      Name  Score  Passed
0    Alice     88    True
1      Bob     92    True
2  Charlie     95    True
3    David     70   False
4      Eve     85    True

In [13]:
condition=( df['passed']== 'True')

InvalidIndexError: (slice(0, 3, None), 2)

In [23]:
string='sore was I ere I saw eros'
sp= string.split()

['sore', 'was', 'I', 'ere', 'I', 'saw', 'eros']

In [34]:
for i in range(0,len(sp)):
    if sp[0]==sp[::-1]==sp[6]:
        print("it is reversed")
    else:
        print("nah")

nah
nah
nah
nah
nah
nah
nah